.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}
.navbar a{
  color: #000;
  padding: 10px;
}
/* 
.materiales-slider .swiper-slide>div  {
  width: 263px;
  height: 298px;
  margin: 0px 10px;
} */